/* @theme utility */

/* columns */
.c {
  display: flex;
  gap: 1em;
}
.c > * {
  flex: 1;
}

/* fitting block */
.fit {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  max-width: 100%;
}

/* margin */
.m-0 {
  margin: 0;
}
.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
.mb-1 {
  margin-bottom: 1em;
}
.ml-1 {
  margin-left: 1em;
}
.mr-1 {
  margin-right: 1em;
}

/* font-size */
.text-xl5 {
  font-size: 3em;
}
.text-xl4 {
  font-size: 2.25em;
}
.text-xl3 {
  font-size: 1.875em;
}
.text-xl2 {
  font-size: 1.5em;
}
.text-xl {
  font-size: 1.25em;
}
.text-lg {
  font-size: 1.125em;
}
.text-sm {
  font-size: .875em;
}
.text-xs {
  font-size: .75em;
}
.text-xs2 {
  font-size: .625em;
}
.text-xs3 {
  font-size: .5em;
}

/* color */
.white,
.white:hover {
  color: #fff;
}
.black,
.black:hover {
  color: #202228;
}
.gray,
.gray:hover {
  color: #7f7f7f;
}
.red,
.red:hover {
  color: #f55;
}
.blue,
.blue:hover {
  color: #38f;
}
.light-blue,
.light-blue:hover {
  color: #61DBFB;
}
.green,
.green:hover {
  color: #2eab7f;
}
.yellow,
.yellow:hover {
  color: #e2b741;
}
.purple,
.purple:hover {
  color: #673ab8;
}

/* code block filename */
code[name] {
  position: relative;
  margin-top: 2em;
  border-top-left-radius: 0;

  &::before {
    position: absolute;
    top: -2.5em;
    left: 0;
    padding: .5em 1em;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    content: attr(name);
    font-size: .75em;
    background-color: #2b2b2b;
  }
}
/* Safari 用 */
::-webkit-full-page-media, :future, :root marp-pre:has(code[name]) {
  position: relative;
}
::-webkit-full-page-media, :future, :root code[name] {
  position: inherit;

  &::before {
    top: 0;
    z-index: -1;
  }
}

/* alert */
/* :not(.token) は prism との競合回避 */
.note:not(.token),
.tip:not(.token),
.important:not(.token),
.warning:not(.token),
.caution:not(.token) {
  --padding-x: 1.25em;
  --padding-y: .75em;

  position: relative;
  margin-bottom: 1em;
  padding: var(--padding-y) var(--padding-x);
  border-radius: 12px;
  text-align: left;

  > p {
    margin: 0;
  }

  &::before {
    display: block;
    padding-left: 1em;
  }

  &::after {
    position: absolute;
    top: calc(var(--padding-y) * 1.3);
    left: calc(var(--padding-x) - .2em);
    content: '';
    width: 1em;
    height: 1em;
  }
}

.note:not(.token) {
  background-color: #316dca19;

  &::before {
    content: 'Note';
    color: #478be6;
  }
  &::after {
    background-color: #478be6;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBjbGFzcz0ic2l6ZS02Ij4gPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJtMTEuMjUgMTEuMjUuMDQxLS4wMmEuNzUuNzUgMCAwIDEgMS4wNjMuODUybC0uNzA4IDIuODM2YS43NS43NSAwIDAgMCAxLjA2My44NTNsLjA0MS0uMDIxTTIxIDEyYTkgOSAwIDEgMS0xOCAwIDkgOSAwIDAgMSAxOCAwWm0tOS0zLjc1aC4wMDh2LjAwOEgxMlY4LjI1WiIgLz48L3N2Zz4=");
  }
}
.tip:not(.token) {
  background-color: #347d3919;

  &::before {
    content: 'Tip';
    color: #57ab5a;
  }
  &::after {
    background-color: #57ab5a;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBjbGFzcz0ic2l6ZS02Ij4gPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTIgMTh2LTUuMjVtMCAwYTYuMDEgNi4wMSAwIDAgMCAxLjUtLjE4OW0tMS41LjE4OWE2LjAxIDYuMDEgMCAwIDEtMS41LS4xODltMy43NSA3LjQ3OGExMi4wNiAxMi4wNiAwIDAgMS00LjUgMG0zLjc1IDIuMzgzYTE0LjQwNiAxNC40MDYgMCAwIDEtMyAwTTE0LjI1IDE4di0uMTkyYzAtLjk4My42NTgtMS44MjMgMS41MDgtMi4zMTZhNy41IDcuNSAwIDEgMC03LjUxNyAwYy44NS40OTMgMS41MDkgMS4zMzMgMS41MDkgMi4zMTZWMTgiIC8+PC9zdmc+");
  }
}
.important:not(.token) {
  background-color: #8256d019;

  &::before {
    content: 'Important';
    color: #986ee2;
  }
  &::after {
    background-color: #986ee2;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBjbGFzcz0ic2l6ZS02Ij4gPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNOC42MjUgOS43NWEuMzc1LjM3NSAwIDEgMS0uNzUgMCAuMzc1LjM3NSAwIDAgMSAuNzUgMFptMCAwSDguMjVtNC4xMjUgMGEuMzc1LjM3NSAwIDEgMS0uNzUgMCAuMzc1LjM3NSAwIDAgMSAuNzUgMFptMCAwSDEybTQuMTI1IDBhLjM3NS4zNzUgMCAxIDEtLjc1IDAgLjM3NS4zNzUgMCAwIDEgLjc1IDBabTAgMGgtLjM3NW0tMTMuNSAzLjAxYzAgMS42IDEuMTIzIDIuOTk0IDIuNzA3IDMuMjI3IDEuMDg3LjE2IDIuMTg1LjI4MyAzLjI5My4zNjlWMjFsNC4xODQtNC4xODNhMS4xNCAxLjE0IDAgMCAxIC43NzgtLjMzMiA0OC4yOTQgNDguMjk0IDAgMCAwIDUuODMtLjQ5OGMxLjU4NS0uMjMzIDIuNzA4LTEuNjI2IDIuNzA4LTMuMjI4VjYuNzQxYzAtMS42MDItMS4xMjMtMi45OTUtMi43MDctMy4yMjhBNDguMzk0IDQ4LjM5NCAwIDAgMCAxMiAzYy0yLjM5MiAwLTQuNzQ0LjE3NS03LjA0My41MTNDMy4zNzMgMy43NDYgMi4yNSA1LjE0IDIuMjUgNi43NDF2Ni4wMThaIiAvPjwvc3ZnPg==");
  }
}
.warning:not(.token) {
  background-color: #96660019;

  &::before {
    content: 'Warning';
    color: #c69026;
  }
  &::after {
    background-color: #c69026;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBjbGFzcz0ic2l6ZS02Ij4gPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTIgOXYzLjc1bS05LjMwMyAzLjM3NmMtLjg2NiAxLjUuMjE3IDMuMzc0IDEuOTQ4IDMuMzc0aDE0LjcxYzEuNzMgMCAyLjgxMy0xLjg3NCAxLjk0OC0zLjM3NEwxMy45NDkgMy4zNzhjLS44NjYtMS41LTMuMDMyLTEuNS0zLjg5OCAwTDIuNjk3IDE2LjEyNlpNMTIgMTUuNzVoLjAwN3YuMDA4SDEydi0uMDA4WiIgLz48L3N2Zz4=");
  }
}
.caution:not(.token) {
  background-color: #c93c3719;

  &::before {
    content: 'Caution';
    color: #e5534b;
  }
  &::after {
    background-color: #e5534b;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBjbGFzcz0ic2l6ZS02Ij4gPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTIgOXYzLjc1bTktLjc1YTkgOSAwIDEgMS0xOCAwIDkgOSAwIDAgMSAxOCAwWm0tOSAzLjc1aC4wMDh2LjAwOEgxMnYtLjAwOFoiIC8+PC9zdmc+");
  }
}
